<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3 class="text-center">{{data}}</h3>


  <div class="container w-50 mt-5 text-center bg-light ">
    <h1 class="text-center mt-5 p-5">Sign In</h1>
    <form action="" >
    <label for="">Username</label>
   <input  #uname [placeholder]="placeholderData" type="text" class="form-control" id="uname">
   <label for="" >Password</label>
   <input #psw  [placeholder]="placedata2" type="text" class="form-control" id="password">
   <button type="button" (click)="login(uname,psw)">Login</button>
  </form>
  <p>Dont Have An Account</p>
  <a href=""> Create Account</a>
  </div>
  
</body>
</html>